/* .overlay{
    height: 100vh;
    background-image: linear-gradient(to bottom , #00000044, #000000a4);
    z-index: 4;
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
} */
.carousel_box{
    position: relative;
    overflow: hidden;
    
}
.carousel{
    height: 90vh;
    animation:zoom-in-out 50s infinite;
    filter: brightness(70%);
}

@keyframes zoom-in-out {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.hero_desc{
   text-transform: capitalize;
    color: #fff;
    z-index: 5;
    font-size: 2.6rem;
    font-weight: 600;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
     margin-bottom: 10rem;
    
}

.banner_content{
    position: absolute;
    top: 40%;
    /* left:40%; */
    align-items: center;
    transform: translate(0,-50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap:5rem;
    width:100%;
   
}
.banner_form{
      display: flex;
      gap:2rem;
      align-items: center;
      
      /* margin-left: 10%; */
}

.check_input{
    padding: 2rem 3rem;
    outline: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 2rem;
    border: none;
    position: relative;
    z-index: 101;
   flex-shrink: 1;
  cursor: pointer;
}
.check_input:focus{
    outline: 1px solid #fff;
    border: none;
}
.input_label{
    color: #fff;
    
    font-size: 1.8rem;
     /* margin-bottom: 2px !important; */
    display: flex;
    gap: 8rem;
    text-transform: uppercase;

}
.icon{
    position: absolute;
    font-size: 4rem;
    top:50%;
    left:90%;
    z-index: 1000;

}
.select{
    align-self: flex-end;
    padding: 2rem 3rem;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 2rem;
    outline: none;
    position: relative;
    text-transform: capitalize;
    cursor:pointer;
}
.select option{
    background-color: black;
}

.btn_check{
    padding: 2rem 3rem;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 2rem;
    outline: none;
    position: relative;
    margin-left: -9rem;
    cursor: pointer;
}
.btn_check:hover{
    border: none;
}


@media(max-width: 55em){
    .select{
        display: none;
    }
    .btn_check{
     padding:1rem 2rem;
     font-size:1.4rem;
     margin-left: -3rem;
    }
    .check_input{
        padding: 1rem 2rem;
        font-size: 1.6rem;
    }
    .input_label{
        font-size:1.2rem;
    }
    .hero_desc{
        font-size:2.2rem;
    }
}
@media(max-width:30em){
    .btn_check{
        margin-left:0;
    }
    .banner_content{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .banner_form{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        gap:1rem;
    }
}