
 .about_outer_container {

  position: relative;
  
} 

.about_container{
    position: relative;
   
    max-width:70%;
    margin:-12rem auto 0 auto;
    padding:4rem;
    background-color: #fff !important;
    /* border:1px solid #fc7506; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
     gap:5rem;
  justify-items: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 0 10px 10px  #00000057;
 }

 .about_box{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
 }
 .about_icon{
    color:#112A46;
    margin-bottom:2rem;
    padding:30px;
    border-radius:70px;
    border:1px dashed #112A46;
    transition:all 0.3s;
    font-size:3rem !important;
 }
 .about_icon:hover{
    background-color: #112A46;
    fill:#fca401 !important;
 }

 .about_title{
    font-size:2rem;
    color:#112A46;
    margin-bottom:1rem;
 }
 .about_desc{
    font-size:1.6rem;
    color:#112A46;
    width:80%;
    align-self:center;
    text-align: center;
 }
 .dot{
   position: absolute;
   bottom: -10rem;
   right: 10rem;
 }