.header_outer_container{
  height: 10vh;
  /* background-color: #ffffff00; */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  
}

.header_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  max-width: 90%;
  margin: auto;
}
.logo_box{
  /* max-width: 10%; */
  background-image: url(./img/hotel-logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 7vh;
  
  width:10%;
}
.logo{
  max-width: 60%;
}
.header_nav{
  flex-grow: 1;
  max-width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1.4rem;
}
.header_nav li:hover{
  cursor: pointer;
  color: #A58A5A;

  
}

.book_btn {
   max-width: 15%;
   padding: 1rem 2rem;
   background-color:  #A58A5A;
   font-size: 1.4rem;
   border: none;
   outline: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.book_btn svg{
  font-size: 1.6rem;
}
.book_btn:hover{
  background-color: #E5A84A;
}
.menu_icon{
  display: none;
}

.mobile_nav_container{
   height: 100vh;
   background-color: #000000c4;
   width:100%;
   position: absolute;
   top:0;
   left: 0;
   z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
}
.mobile_nav_container ul{
  display: flex;
  flex-direction: column;
  gap:2rem;
  list-style: none;
}
.mobile_nav_container li:hover{
  color: #E5A84A;
  cursor: pointer;
}
.closeIcon{
  position: absolute;
  top: 5rem;
  right:5rem;
  color:#fff;
  font-size: 3rem !important;
  font-weight: 700;
  z-index: 101;
}
.closeIcon:hover{
  cursor: pointer;
}
.menu_icon:hover{
  cursor: pointer;
}





@media(min-width:65em){
  .book_btn{
    max-width: 15%;
  }
 
}


@media (min-width: 48em) and (max-width: 65em){
  .book_btn{
    max-width: 25%;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
  }
  .header_nav{
    font-size: 1.2rem;
  }
  .header_container{
    max-width: 96%;
    margin: auto;
  }

}

@media (min-width: 16em) and (max-width: 48em){
  .header_nav{
    display: none;
  }
  .menu_icon{
    display: block;
  }
  .book_btn{
    max-width: 30%;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
  }
  .logo_box{
    width: 20%;
  }
  
  
}

