.footer_container{

    background-color: #112a46;
    padding:7rem 0;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    gap:2rem;
    color:#fff;
}
.icon{
  fill:#000 !important;
  font-size:3rem !important;
  padding:1rem;
  background-color:#fff;
}
.icon:hover{
    fill:#fff !important;
    background-color:#fca401;
}
.footer_icon{
    display:flex;
    gap:1rem;
}
.copyright{
    font-size:1.6rem;
}