.footer_container{

    background-color: transparent !important;
    background-image: none !important; /* Ensures no background image */
    background-repeat: no-repeat !important; /* Prevents repeating any background */
    opacity: 1; /* Fully opaque */
}